@charset "utf-8";

:root {
    --scroll-opacity: 0;
    --color-scroll-thumb: var(--color-scroll-thumb);
}

.scrollBox {
    overflow-y: auto;
}

.scrollBox::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.scrollBox::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    border: 3px solid transparent;
    background-color: rgba(0, 0, 0, 0); /* 초기값 */
    background-clip: padding-box;
    transition: background-color 0.4s ease;
}
.scrollBox::-webkit-scrollbar-button{
    display: none;
    height: 0;
    width: 0;
}
.scrollBox::-webkit-scrollbar-button:single-button {
    display: none;
    height: 0;
    width: 0;
}

.scrollBox::-webkit-scrollbar-button:start:decrement,
.scrollBox::-webkit-scrollbar-button:end:increment {
    display: none;
    height: 0;
    width: 0;
}

.scrollBox::-webkit-scrollbar-button:vertical:start:increment,
.scrollBox::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
    height: 0;
    width: 0;
}

/* 스크롤 중 */
[style*="--scroll-opacity: 1"] .scrollBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
.scrollBox::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}


/* Firefox 지원 */
.scrollBox {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, calc(0.3 * var(--scroll-opacity))) transparent;
    transition: scrollbar-color 0.3s ease;
}