@charset "utf-8";

.container{
    width: 100%;
    height: auto;
    margin-bottom: 1.2857rem;
    display: flex;
    align-items: center;
}

.iconBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5714rem;
    height: 2.5714rem;
    border-radius: 50%;
    margin-right: var(--base-padding);
}