@charset "utf-8";
:root{
    --text-color: #999999;
}

.footer{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listBox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.listBox > li {
    color: var(--text-color);
    font-size: 0.9rem;
}
.listBox > li > a{
    color: var(--text-color);
    transition: 0.3s ease;
    padding: 0rem 0.5rem;
    border-radius: var(--border-radius);
}
.listBox > li > a:hover{
    color: var(--color-primary);
}
