@charset "utf-8";
header{
    width: 100%;
    height: 4.6154rem;
}
header > ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--base-padding);
}

.columnBox{
    display: flex;
    align-items: center;
}


/* 프로필 이미지  */
.columnBox:first-child{
    gap: var(--base-padding);
}
.profileBox{
    display: flex;
    align-items: center;
}
.profileBox > .profileImg{
    width: 3.2308rem;
    height: 3.2308rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileImg{
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/title/title_logo.png);
}
