@charset "utf-8";
/* ------------- 헤더 컨테이너 ------------- */
header{
    width: 100%;
    height: 4.6154rem;
}
header > ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: var(--base-padding);
}

.columnBox{
    display: flex;
    align-items: center;
}


/* ------------- 프로필 이미지 ------------- */
.columnBox:first-child{
    gap: var(--base-padding);
}
.columnBox:nth-child(2){
    gap: var(--base-padding);
    height: 100%;
    align-items: start;
    padding: 0.5rem 1rem 0 0;
}

.profileBox{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* 이미지 */
.profileBox > .profileImg{
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileImg{
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/profile/hong.jpg);
}

/* 유저 정보 */
.profileContent > dl{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    
}
.profileContent > dl > dt > h2{
    padding-right: 0.3rem;
}
.userRole{
    font-size: 0.9rem;
    color: var(--text-sub);
}