@charset "utf-8";
/* 모달 배경 */
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--modal-bg);
    z-index: var(--z-index-modal);
}
/* 모달 컨텐츠 */
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-base);
    border-radius: var(--border-radius);
    padding: var(--base-padding);
    width: min(33.8462rem);
    height: min(12.3077rem);
}
.closeBtn{
    position: absolute;
    top: calc(0 + var(--base-padding));
    right: calc(0% + var(--base-padding));
}